.shop-btn:hover .shop-drop {
	display: block;
	/* font-size: 100px; */
	width: 1400px;
	/* width: 100vh; */
}

.shop-drop {
	display: none;
	position: absolute;
	background-color:black;
	width: 1400px;
	/* width: 100vh; */
	margin-left: -550px;
	z-index: 999;
}